be/VBAI.Api/VBAI.Api/obj
be/VBAI.Api/.vs
be/VBAI.Api/VBAI.Api/Properties/launchSettings.json
be/VBAI.Api/.vs
be/VBAI.Api/VBAI.Api/bin
be/VBAI.Api/VBAI.Api/obj

be/VBAI.Api/RDSPPMock.Api/bin
be/VBAI.Api/RDSPPMock.Api/obj
be/VBAI.Api/RDSPPMock.Api/.vs

be/VBAI.Api/Common/bin
be/VBAI.Api/Common/obj
be/VBAI.Api/Common/.vs